body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formulario-buscar-pokemon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	width: 100%;
}

.boton-buscar-pokemon {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

.input-buscar-pokemon {
	width: 300px;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 10px;
}

.contenedor-pokemon-mostrar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	width: 100%;
}

.pokemon-imagen {
	width: 150px;
	height: 150px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s;
}
